<%= f.fields_for :trainee, Trainee.new do |trainee_f| %>
  <div class="border-b border-t py-3 my-3 border-gray-200">
    <h2 class="text-base">Additional info</h2>
  </div>
  <div class="flex space-x-5">
    <div class="field flex-1">
      <%= trainee_f.label :weight %>
      <%= trainee_f.text_field :weight, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
    </div>
    <div class="field flex-1">
      <%= trainee_f.label :height %>
      <%= trainee_f.text_field :height, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
    </div>
  </div>
  <div class="flex space-x-5">
    <div class="field flex-1">
      <%= trainee_f.label :date_of_birth %>
      <%= trainee_f.text_field :date_of_birth, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
    </div>
  </div>
  <div class="flex space-x-5">
    <div class="field flex-1">
      <%= trainee_f.fields_for :trainer, Trainer.new do |trainer_f| %>
        <label>Choose your trainer</label>
        <%= trainer_f.select(:id, options_from_collection_for_select(Trainer.includes(:user).all, :id, :full_name), {}, {:class => 'form-select mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black'}) %>
      <% end %>
    </div>
  </div>
<% end %>