<div class="bg-white w-100 border border-gray-200 rounded">
  <div class="p-8 border-b border-gray-200">
    <h1 class="text-xl text-gray-800 font-bold">Edit your account</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="flex">

      <div class="flex-1 p-8">

        <%= render "devise/shared/error_messages", resource: resource %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="flex space-x-5">
          <div class="field flex-1">
            <%= f.label :name %>
            <%= f.text_field :name, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
          </div>

          <div class="field flex-1">
            <%= f.label :surname %>
            <%= f.text_field :surname, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
          </div>
        </div>

        <%= render @user.role, f: f if @user.role == 'trainee' || @user.role == 'trainer' %>
      </div>
      <div class="flex-1 p-8">
        <div class="flex space-x-5">
          <div class="field flex-1">
            <label>New password</label>
            <%= f.password_field :password, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
          </div>

          <div class="field flex-1">
            <label>Current password</label>
            <%= f.password_field :current_password, class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
          </div>
        </div>
      </div>

    </div>
    <div class="px-8">
      <div class="actions">
        <%= f.submit "Update", class: "bg-indigo-700 py-2 px-4 text-white font-bold mr-2 rounded" %>
      </div>
    </div>
  <% end %>
</div>
