<div class="flex h-screen bg-gradient-to-r from-indigo-500 to-yellow-600">
  <div class="w-full max-w-xs m-auto bg-white rounded p-5">
    <header class="p-5">
      <%= image_tag "fithustle.png", class: "mx-auto" %>
    </header>
    <h1 class="text-lg font-bold mb-5">Join us!</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-400 focus:ring-0 focus:border-black" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-400 focus:ring-0 focus:border-black" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-400 focus:ring-0 focus:border-black" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "bg-indigo-700 py-2 px-4 text-white font-bold mb-6 mr-2 rounded" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>