<div class="flex h-screen bg-gradient-to-r from-indigo-500 to-yellow-600">
  <div class="w-full max-w-md m-auto bg-white rounded p-5 opacity-90">
    <header class="pl-5 pr-5">
      <%= image_tag "fithustle.png", class: "mx-auto w-52" %>
    </header>
    <h1 class="text-lg font-bold mb-5 mt-5">Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "password", class: "mt-0 block w-full px-0.5 border border-gray-300 focus:ring-0 focus:border-black" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <label class="inline-flex items-center mt-5">
            <%= f.check_box :remember_me %>
            <span class="ml-2">Remember me</span>
          </label>
        </div>
      <% end %>

      <div class="actions mt-5">
        <%= f.submit "Log in", class: "bg-indigo-700 py-2 px-4 text-white font-bold mr-2 rounded" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>